.fs-24 { font-size: 24px; }
.p-0-i { padding: 0 !important; }
.p-0 { padding: 0; }
.p-5 { padding: 5px; }
.p-5-i { padding: 5px !important; }
.p-8-i { padding: 8px !important; }
.m-0-i { margin: 0 !important; }
.m-0-auto { margin: 0 auto; }
.m-0-auto-i { margin: 0 auto !important; }
.pb-5 { padding-bottom: 5px; }
.pb-30 { padding-bottom: 30px; }
.pl-0-i { padding-left: 0 !important; }
.pt-5 { padding-top: 5px; }
.pt-20-i { padding-top: 20px !important; }
.pt-30 { padding-top: 30px; }
.pt-30-i { padding-top: 30px !important; }
.pt-60 { padding-top: 60px; }
.mt-6 { margin-top: 6px; }
.mt-10n { margin-top: -10px; }
.mt-15 { margin-top: 15px; }
.mt-20-i { margin-top: 20px !important; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-40-i { margin-top: 40px!important; }
.mt-40 { margin-top: 40px; }
.mt-n40 { margin-top: -40px; }
.mt-50 { margin-top: 50px; }
.mt-60 { margin-top: 60px; }
.mt-60-i { margin-top: 60px !important; }
.mb-0 { margin-bottom: 0; }
.mb-0-i { margin-bottom: 0 !important; }
.mb-10-i { margin-bottom: 10px !important; }
.mb-10 { margin-bottom: 10px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-50 { margin-bottom: 50px; }
.w-90p-i { width: 90% !important; }
.w-100p { width: 100%; }
.w-100p-i { width: 100% !important; }
.h-28 { height: 28px; }
.lh-30 { line-height: 30px; }
.float-left { float: left; }
.float-right { float: right; }
.float-none { float: none; }
.float-none-i { float: none !important; }
.text-danger-i { color: #a94442 !important; }
.text-danger { color: #a94442; }
.d-inline-block { display: inline-block; }
.d-inline-block-i { display: inline-block !important; }
/* fallen game modal */
.fallen-game-modal-content .name {
  padding: 35px;
}
.fallen-game-modal-content .name p {
  font-size: 32px;
  text-align: center;
}
.fallen-game-modal-content .name .red {
  color: #ff0000;
}
.fallen-game-modal-content {
  margin-bottom: 35px;
}
.fallen-game-modal h2 {
  font-size: 24px;
  text-transform: uppercase;
  padding-bottom: 26px;
  line-height: 1.2;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 32px;
  margin-top: 0;
}
.fallen-game-modal h2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 4;
  height: 2px;
  width: 50px;
  margin-left: -25px;
  background: #1ba6d1;
}
.fallen-game-modal h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  height: 2px;
  width: 100%;
  background: #e6e6e6;
  opacity: 0.7;
}
.fallen-game-modal .fallen-game-modal-content .image img{
  width: 100%;
}

@keyframes animate-win-line {
  from { transform: translateX(0); }
  to { transform: translateX(-11000px) }
}

@keyframes animate-roulette {
  from { transform: translateX(0); }
  to { transform: translateX(-11000px) }
}

@media (max-width: 992px) {
  .fallen-game-modal-content .name {
    padding: 0;
  }
  .fallen-game-modal-content {
    margin-bottom: 0px;
  }
  .fallen-game-modal {
    padding-top: 0px;
  }
}
@media (max-width: 1920px) {
  .fallen-game-modal {
    padding-top: 120px;
  }
}
/* end fallen game modal */
@media (max-width: 767px) {
  div.container-mobile {
    position: absolute;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  section#latest-wins {
    max-height: 503px;
    overflow: hidden;
  }

  .last-sale-case {
    overflow: hidden;
    max-height: 475px;
  }
}

@media (max-width: 320px) {
}

.bootstrap-v3 .modal-header {
  display: block;
}

body {
  height: 100vh;
}

#demo-submit-refill-form {
  padding: 15px 10px;
  padding: 15px 58px;
  font-size: 29px;
}

#demo-fallen-game-modal .fallen-game-modal-content {
  margin-bottom: 0;
}

#demo-refill-form input[type="number"] {
  width: 30%;
  margin: auto;
}

#demo-fallen-game-modal .fallen-game-modal-content .name {
  padding: 0 31px;
}
/* end fallen game modal */

.img-responsive {
  max-width: 100%;
  height: auto;
  display:block
}

.money-notify {
  text-align: center;
}

#rules {
  z-index: 9999;
}