.popup {
  position: relative;
  background: #fff;
  max-width: 50%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.45);
  overflow: hidden; }
  .popup--games-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background: #ededed;
    padding: 20px; }
  .popup--games-wrap {
    max-height: 560px; }
  .popup--buy {
    position: relative;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 8px 15px; }
    .popup--buy .button {
      max-width: 495px; }

.popup-game {
  text-align: center;
  width: 150px;
  margin: 0 12px 20px; }
  .popup-game--image {
    position: relative;
    max-width: 150px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px; }
    .popup-game--image img {
      max-width: 100%;
      height: auto; }
  .popup-game--price {
    position: absolute;
    top: 0;
    left: 0;
    background: #cc4b29;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px 6px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    line-height: 1; }
  .popup-game p {
    font-size: 12px;
    line-height: 1.2;
    margin: 0; }
.mfp-wrap {
  z-index: 9999999!important;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.3; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7); }

.mfp-close {
  width: 34px;
  height: 34px;
  line-height: 34px; }

div.blockElement {
  width: 100%!important;
	top: 47%!important;
}